<div id="drawer" class="invisible absolute top-0 min-h-screen h-screen z-20 flex flex-col bg-gray-300 w-64 z-50">
    <div id="drawer-header" class="flex flex-row h-12 p-3 bg-red-300">
        <div class="flex flex-1">
            <h3 class="font-bold">Cali's Blog</h3>
        </div>
        <button 
            type="button"
            class="relative rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            onclick="toggleDrawer(event);" 
        >
            <svg class="size-6 bg-none text-white fill-current" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>        
    </div>
    <div>
        <nav class="mt-2 px-2 font-medium">
            <div class="flex flex-row items-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                </svg>
                <a href="/blog.html"><h3 class="pl-2">Computer Science</h3></a>
            </div>
            <div class="flex flex-row items-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.745 3A23.933 23.933 0 0 0 3 12c0 3.183.62 6.22 1.745 9M19.5 3c.967 2.78 1.5 5.817 1.5 9s-.533 6.22-1.5 9M8.25 8.885l1.444-.89a.75.75 0 0 1 1.105.402l2.402 7.206a.75.75 0 0 0 1.104.401l1.445-.889m-8.25.75.213.09a1.687 1.687 0 0 0 2.062-.617l4.45-6.676a1.688 1.688 0 0 1 2.062-.618l.213.09" />
                </svg>
                <a href="/blog.html"><h3 class="pl-2">Math</h3></a>  
            </div>
        </nav>
    </div>
    <script>
        const toggleDrawer = (e) => {
          e.stopPropagation();
          const drawer = document.getElementById('drawer');
          const hasInvisible = drawer.classList.contains("invisible");
          !hasInvisible && drawer.classList.add("invisible");
          hasInvisible && drawer.classList.remove("invisible");
        }
        document.addEventListener("click", (e) => {
          const drawer = document.getElementById("drawer");
          if (!drawer.classList.contains("invisible") && !drawer.contains(e.target)){
            drawer.classList.add("invisible");
          }
        });
    </script>  
</div>