<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/dist-style.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <style>
      div.MathJax_Display {
        margin: 0;
      }
    </style>
  </head>
  <body>    
    <div class="flex flex-col min-h-screen h-screen overflow-hidden p-0 m-0">
      <header class="sticky top-0 h-12 z-50 bg-indigo-300">
        <nav class="relative flex h-12">
          <div class="flex flex-1 p-2 items-center justify-center sm:items-stretch sm:justify-start">
            <button type="button" class="items-center align-middle text-sm font-medium" onclick="toggleDrawer(event);">
              <div class="bg inline-flex items-center justify-center px-1 py-1 align-middle text-sm font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                  </svg>
                </div>
            </button>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
              <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
              <a href="#" class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Home</a>
              <a href="/blog.html" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Blog</a>
              <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">About</a>
            </div>
          </div>
        </nav>
      </header>
      <main class="flex-1 overflow-y-auto">         
          {{ content }}
      </main>
      <footer class="sticky p-4 bottom-0 w-full text-center border-t bg-gray-300">some footer</footer>
    </div>

    {% include drawer.html %}

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        prefer: {
          Chrome: "CommonHTML"
        },
        jax: ["input/TeX", "output/HTML-CSS"],

        tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        "HTML-CSS": { color: "red"}
        },
      });
    </script>
  </body>
</html>
